.Ticket-Structure{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 25vw;
}
.Ticket-Data{
    display: flex;
    flex-direction: row;
}